{% load i18n staticfiles timetags %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Blog</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Styles CSS -->
        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <link rel="stylesheet" href="{% static "css/sonorama.css" %}">
        <link rel="stylesheet" href="{% static "css/blog.css" %}">
        <link rel="stylesheet" href="{% static "css/responsive.css" %}">
        <link rel="stylesheet" href="{% static "css/isotope.css" %}">
        <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" %}">
 	  <link href="http://jellydemos.com/html/sonorama/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">


	<link href='http://fonts.googleapis.com/css?family=<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600italic,600,700,700italic,900' rel='stylesheet' type='text/css'>:400,200,200italic,300,300italic,400italic,600italic,600,700,700italic,900' rel='stylesheet' type='text/css'>

        <!-- Scripts JS -->
        <script src="js/vendor/modernizr-2.6.2.min.js/" %}"></script>

    </head>

      <body>
              <!--[if lt IE 7]>
                  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
              <![endif]-->

              <div id="mask">
                  <div class="loader">
                    <img src="img/icons/loading.gif" alt='loading'>
                  </div>
              </div>



              <div class="full-wrapper header">
              	<div class="main-logo">
                  	<a class="symbol" href="/"><div class="navbar-brand"><ul><li></li><li></li><li></li></ul></div>sonorama<span>.</span></a>
                  </div>

                  <nav class="main-menu">
                  	<ul>
                      	<li><a href="/">Home</a></li>
                          <li><a href="index.html#anchor01">Last News</a></li>
                          <li><a href="index.html#anchor02">Gigs</a></li>
                          <li><a href="index.html#anchor03">Discography</a></li>
                          <li><a href="index.html#anchor04">Gallery</a></li>
                          <li><a href="index.html#anchor05">Contact</a></li>
                          <li class="current"><a href="/blog">Blog</a></li>

                      </ul>
                  </nav>

                  <nav id="nav2" role="navigation">
                      <a class="jump-menu" title="Show navigation">Show navigation</a>
                      <ul>
                          <li><a href="/">Home</a></li>
                          <li><a href="index.html#anchor01">Last News</a></li>
                          <li><a href="index.html#anchor02">Gigs</a></li>
                          <li><a href="index.html#anchor03">Discography</a></li>
                          <li><a href="index.html#anchor04">Gallery</a></li>
                          <li><a href="index.html#anchor05">Contact</a></li>
                          <li class="current"><a href="/blog">Blog</a></li>
                      </ul>
                  </nav>
              </div>

              <div id="anchor0"></div>

      	<div class="page-wrap container">
      			<div class="grid-9">
              {% for post in recent_posts %}
      				<article>
      					<div class="pdate"><span>Date</span></div>
      					<div class="post-meta">
      						By: {{ post.author.first_name }}
      					</div>
      					<h3><a href="blog_single.html"><a href="{% url 'blog_post' post.slug %}">{{ post.title }}</a></a></h3>
                <img src="{{ post.featured_image }}" class="img-responsive" alt="">
                <p>{{ post.summary }} </p>
      				</article>
              {% endfor %}




<!-- Pagination links -->
<div>
  {% if previous_page %}
  <a href="{% url "archive" previous_page %}">Prev</a>
  {% endif %}

  {% if next_page %}
  <a href="{% url "archive" next_page %}">Next</a>
  {% endif %}
</div>
      			
      			</div>


      	</div>


              <div class="clear"></div>

              <section class="social-footer">
                  <h1>Social Networks</h1>
                  <div class="spacer"></div>
                  <div class="footer-container">
                      <div class="social-ico s-facebook"></div>
                      <div class="social-ico s-youtube"></div>
                      <div class="social-ico s-plus"></div>
                      <div class="social-ico s-twitter"></div>
                      <div class="social-ico s-soundcloud"></div>
                  </div>
                  <div class="clear"></div>
              </section>

              <!-- Scripts JS -->
            <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{% static "theme/js/vendor/jquery-1.10.2.min.js" %}"><\/script>')</script> -->
            <script src="{% static "theme/js/jquery-1.11.0.min.js" %}"></script>
            <script src="{% static "theme/js/superslides-0.6.2/dist/jquery.superslides.js" %}" type="text/javascript" charset="utf-8"></script>
            <script src="{% static "theme/js/jquery.isotope.min.js" %}"></script>
    	  <script type="text/javascript" src="{% static "theme/js/player/audio.js" %}"></script> <!-- Audio Player -->
            <script type="text/javascript" src="{% static "theme/js/jquery.hoverdir.js" %}"></script>
            <script type="text/javascript" src="{% static "theme/js/jquery.nav.js" %}"></script>
            <script src="{% static "theme/js/news.js" %}"></script>
            <script src="{% static "theme/js/discography.js" %}"></script>
            <script src="{% static "theme/js/tweets.js" %}"></script>
            <script src="{% static "theme/js/jquery.scrolly.js" %}"></script>
            <script src="{% static "theme/js/fancybox/jquery.fancybox.js" %}"></script>
            <script src="{% static "theme/js/fancybox/helpers/jquery.fancybox-media.js" %}"></script>
            <script src="{% static "theme/js/color-picker.js" %}"></script>
            <script src="{% static "theme/js/jquery.validate.js" %}"></script>
            <script src="{% static "theme/js/jquery.form.js" %}"></script>
            <script src="{% static "theme/js/plugins.js" %}"></script>
            <script src="{% static "theme/js/sonorama.js" %}"></script>

      </body>
      </html>
